.btn {
    display: block;
    margin: 1.125rem auto 0;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
}