.btn {
    display: block;
    margin: 1.125rem auto 0;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        filter: drop-shadow(16px 16px 10px black);
    }
    &_black {
        margin: 0;
        width: 75px;
        height: 30px;
        color: #000;
        border: none;
        border-radius: 0;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .25);
        font-size: 12px;
    }
    &_right {
        border-radius: 0 4px 4px 0;
    }
    &_left {
        border-radius: 4px 0 0 4px;
    }
}