.promo {
    min-height: 40rem;
    background: url('./desk-791178_1920.jpg') center (center/cover) no-repeat;
    padding-top: 3.25rem;
}

@media (max-width: 75em) {
    .promo {
        min-height: auto;
        padding: 3.25rem 0;
    }
}

@media (max-width: 62em) {
    .promo {
        padding: 1.75rem 0;
    }
}