.goods {
    display: grid;
    grid-template: 260px / repeat(3, 1fr);
    grid-auto-rows: 260px;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

@media (max-width: 62em) {
    .goods {
        grid-template: repeat(2, 260px) / repeat(2, 1fr);
    }
}

@media (max-width: 36em) {
    .goods {
        grid-template: repeat(2, 240px) / repeat(1, 1fr);
    }
}