.divider {
    margin: 1.25rem auto 0; 
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 30px;
        height: 100%;
        margin: 0 26px;
    }
    &__band {
        width: 60px;
        height: 1px;
        background-color: #fff;
        
        
        &_black {
            background-color: #000;
        }
    }
}