.searchpanel {
    padding: 3.125rem 0 1.75rem;
    display: flex;
        justify-content: space-around;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__input {
        font-size: 12px;
        color:rgba(0, 0, 0, .5);
        width: 180px;
        height: 30px;
        text-align: center;
        margin-left: 19px;
        border: none;
        border-radius: 4px;
        box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, .25);
    }
    &__text {
        font-size: 12px;
    }
    &__group {
        margin-left: 35px;
        display: grid;
        grid-template-columns: repeat(3, 75px);
        grid-template-rows: 30px;
        gap: 5px;
    }
}