.hat {
    position: relative;
    .logo {
        width: 35px;
        height: 35px;
        position: absolute;
        left: -25px;
        top: -5px;
    }
    &__list {
        display: flex;
        list-style: none;
        padding: 0;
        font-weight: 400;
        font-size: 0.75rem;
        margin-top: 15px;
    }
    &__item {
        margin-right: 2.5rem;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #fff;
        }
        &_black {
            margin-bottom: 0.625rem;
            a {
                color: #000;
            }
        }
    }
}

@media(max-width: 120em) {
    .hamburger {
        display: none;
    }
    .hat__block{
        
        &_none {
            display: none;
        }
    }
}

@media (max-width: 36em) {
    .hamburger {
        display: block;
        &_none {
            display: none;
        }
        &__logo {
            display: block;
            width: 35px;
            height: auto;
        }
    }
    .hat {
        .logo {
            left: -14px;
            top: -3px;
        }
        &__list {
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
        }
        &__item {
            margin-right: 0;
        }
        .header_none {
            display: none;
        }  
    }
}