.best {
    min-height: auto;
    padding: 2.8125rem 0 5.375rem;
    background: url('./paper.jpg') center (center/cover) no-repeat;
    &__list {
        display: grid;
        grid-template: 240px / repeat(3, 1fr);
        grid-auto-rows: 240px;
        gap: 2rem;
        align-items: center;
        margin-top: 2rem;
    }
}

@media (max-width: 75em) {
    .best {
        padding: 1.8125rem 0 3.375rem;
    }
}

@media (max-width: 62em) {
    .best {
        &__list {
            grid-template: repeat(2, 240px) / repeat(2, 1fr);
        }
    }
}

@media (max-width: 36em) {
    .best {
        &__list {
            grid-template: repeat(2, 240px) / repeat(1, 1fr);
        }
    }
}