* {
    margin: 0;
    font-family: 'Merienda', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
	margin: 0 auto;
}

@media (max-width: 36em) {
    .container {
        max-width: 95%;
    }
}